@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    /* variáveis do css */
    --primary-bg-color: linear-gradient(233.95deg, #0D1E20 -73.12%, #313E2A 53.36%, #262D20 103.17%);
    --secondary-bg-color: #0E1513;
    --font-color: #FC4308;

    --primary-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#first-page {
    background: var(--primary-bg-color);
    height: 100vh;
    width: auto;
}

.navbar {
    width: auto;
    height: 68px;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

nav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.navbar__links {
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.navbar__links.contact {
    border: 1px solid #FC4308;
    border-radius: 3px;
    padding: 8px 16px 10px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 10% 0 10%;
    width: auto;
    height: 840px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.content__tittle {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 105%;
    color: var(--font-color);
}

.content__text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--font-color);
    padding: 0 35% 0 0;
}

#second_page {
    background: var(--secondary-bg-color);
    height: 100vh;
    width: auto;


}

.second_page__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
    padding: 2% 8% 0 10%;
    width: 1200px;
    height: 824px;
}

.tittle__second_page {
    font-family: var(--primary-font);
    color: var(--font-color);
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
}

.second_page__images {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.portraits img {
    height: 112%;
}

.year {
    font-family: var(--primary-font);
    color: var(--font-color);
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0 0 0;
}

.autor {
    font-family: var(--primary-font);
    color: var(--font-color);
    font-weight: 500;
    font-size: 26px;
}